@font-face {
    font-family: 'ProximaNovaLight';
    src: url('/assets/fonts/proximanova-light.eot');
    src: url('/assets/fonts/proximanova-light.eot') format('embedded-opentype'),
         url('/assets/fonts/proximanova-light.woff') format('woff'),
         url('/assets/fonts/proximanova-light.ttf') format('truetype'),
         url('/assets/fonts/proximanova-light.svg#ProximaNovaLight') format('svg');
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('proxima-nova.eot');
    src: url('proxima-nova.eot') format('embedded-opentype'),
         url('proxima-nova.woff') format('woff'),
         url('proxima-nova.ttf') format('truetype'),
         url('proxima-nova.svg#ProximaNovaRegular') format('svg');
}


body{width:100%!important;max-width:100%!important;background:#000!important;margin:0px!important;padding:0px!important;font-family: "ProximaNovaLight", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;}

.header_wrapper{width:100%;max-width:1280px;margin:0 auto;}
.div_MainNavigation_MobileIpad{display:none;}
.div_MainNavigation_Web{display:block;background-color: #464242;margin: 20px auto 40px auto !important;padding: 3px 0px !important;-webkit-border-top-left-radius: 5px;-moz-border-top-left-radius: 5px;border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-top-right-radius: 5px;border-top-right-radius: 5px;border-top: 2px solid #5A5453;text-align: center !important;}
.div_MainNavigation_Web ul.folder-parent{margin:0px;padding:0px;list-style:none;}
.div_MainNavigation_Web ul.folder-parent li{position:relative;}
.div_MainNavigation_Web ul.folder-parent li a{text-transform: uppercase;letter-spacing: 1px !important;padding: 0.5em;display: inline-block;color: #fff;line-height: 18px;font-size: 18px;text-decoration:none;}
.div_MainNavigation_Web li a:hover{color:#CCAC45!important;}
.div_MainNavigation_Web li.active-folder > a, .div_MainNavigation_Web li.active-link a{color:#CCAC45!important;}
.div_MainNavigation_Web ul.folder-parent li ul{position:absolute!important;top:35px;left:0px;width: auto !important;min-height: 150px;padding: 30px 20px 30px 230px !important;background-color: #222 !important;border: 1px solid #555;-webkit-box-shadow: 0px 4px 8px rgba(50, 50, 50, 0.6);-moz-box-shadow: 0px 4px 8px rgba(50, 50, 50, 0.6);box-shadow: 0px 4px 8px rgba(50, 50, 50, 0.6);position: relative;list-style-image: url(/assets/images/SubMenu.png) !important;}
.div_MainNavigation_Web ul.folder-parent li:nth-child(2) ul{left: -60px !important;}